@import "reset";
@import "modules/global";

html {
  color: #272727;
  font-family: $mainFont;
}

.btn-wrap {
  margin: 10px 0;
}

.modal-header{
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

//html {
//  @media screen and (max-width: $desktopWidth) {
//    font-size: 16px;
//  }
//  @media screen and (max-width: $tableWidth) {
//    font-size: 14px;
//  }
//  @media screen and (max-width: $phoneWidth) {
//    font-size: 12px;
//  }
//}

