.v-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow .15s linear;

  &--action {
    background: $violet;

    &:hover {
      box-shadow: $outShadow
    }

    &:active {
      box-shadow: $insetShadow
    }
  }

  &--default {
    background: $lightGray;

    &:hover {
      box-shadow: $outShadow
    }

    &:active {
      background: $gray;
      box-shadow: $insetShadow
    }
  }

  &__text {
    font-family: $mainFont;
    font-size: 15px;

    &--action {
      color: $pureWhite;
    }

    &--default {
      color: #4D4D4D
    }
  }
}
