.rooms {
  width: 100%;
  height: 100vh;
  padding: 20px;

  &-wrap {
    width: 100%;
    height: 100%;
    @include flex(flex-start, flex-start, column);
  }

  &__header {
    padding: 25px 0;
  }

  &__head {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
}

.table {
  width: auto;
  //overflow-y: hidden;
  //overflow-x: hidden;
  margin: auto;

  &__body {
    @include flex(flex-start, stretch);
    height: 800px;
  }

  &__cols {
    @include flex(flex-start, flex-start, column);
    max-width: 870px;
    min-width: 870px;
    height: 100%;
    position: relative;

    &-inner {
      @include flex(flex-start, flex-start);
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__rooms {
    @include flex(center, stretch, column);
    width: 250px;
    height: 100%;

    &-sizer {
      width: 100%;
      height: 115px;
    }
  }

  &__room {
    @include flex(center, flex-start, column);
    width: 100%;
    height: 140px;
    margin: 10px 7px;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 107%;
      height: 1px;
      width: 445%;
      background: $lightGray;
    }

    &:nth-last-child(1) {
      &:after {
        display: none;
      }
    }

    &-name {
      font-size: 17px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-limit {
      font-size: 14px;
      color: #737373;
    }
  }

  &__dates {
    @include flex(flex-start, flex-start, column);
    flex-basis: 158px;
    border-radius: 8px;
    background-color: $milkyWhite;
    margin-left: 20px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &__date {
    @include flex(flex-start, flex-start, column);
    padding: 8px 15px;
    width: 100%;
    height: 64px;

    &-value {
      font-size: 20px;
      font-weight: 600
    }

    &-day {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #737373;
    }
  }

  &__chips {
    @include flex(center, center);
    flex-wrap: wrap;
    width: 150px;
    height: 140px;
    margin: 10px auto;
  }

  &__times {
    height: 100%;
  }

  &__time {
    height: 100%;
  }
}

.slider {
  @include flex(center, center);
  width: 100%;
  height: 64px;
  border-radius: 8px;
  background-color: $milkyWhite;
  margin-bottom: 15px;

  &__arrows {
    @include flex(space-between, center);
    width: 95%;
    height: 16px;
    position: absolute;
  }

  &__arrow-left,
  &__arrow-right {
    width: 15px;
    height: 15px;
    background-image: url('/assets/img/icons/arrow.svg');
    background-size: contain;
    background-position: center center;
    cursor: pointer;
  }

  &__arrow-left {
    transform: rotate(180deg);
  }
}

.btn-wrap {
  width: 172px;
  height: 48px;
  position: relative;
}

.chip-wrap {
  width: 70px;
  height: 24px;
  position: relative;
  margin: 2px;
}

.modal {
  @include flex(center, center);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .4);

  &-wrap {
    position: relative;
    width: 400px;
    height: 190px;
  }

  &-text {
    display: block;
    width: 100%;
  }
}
