.vue-card {
  @include flex(center, center, column);
  min-width: 250px;
  width: auto;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: $shadow;
  overflow: hidden;
  z-index: 3;

  &__title {
    @include flex(center, center);
    width: 100%;
    min-height: 45px;
    color: #FFFFFF;
  }

  &__content {
    @include flex(center, center, column);
    text-align: center;
    width: 100%;
    min-height: 100px;
    font-weight: 500;
    font-size: 17px;
    padding: 20px;
    line-height: 20px;
  }

  &__actions {
    @include flex(space-evenly, center);
    width: 100%;
    min-height: 60px;
  }
}
