.vue-chip {
  @include flex(center, center);
  height: 25px;
  width: 80px;
  min-width: 80px;
  border-radius: 4px;
  transition: box-shadow .15s linear;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    box-shadow: $outShadow;
  }

  &__inner {
    @include flex(center, center);
  }

  &--default {
    background: $default;
  }

  &--selected {
    color: $white;
  }

  &--disabled {
    color: $white;
    background-color: $disabled;
    opacity: .6;

    &:hover {
      box-shadow: none;
    }
  }

  &__text {
    display: block;
    margin-right: 6px;
    color: $white;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
