//colors
$white: #FEFEFE;
$danger: #E53935;
$success: #43A047;
$primary: #1976D2;
$warning: #EF6C00;
$disabled: #9E9E9E;
$default: #BDBDBD;

// shadows
$shadow: 0px 0px 17px 1px rgba(0, 0, 0, .4);
$outShadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
$insetShadow: inset 0px 0px 80px rgba(0, 0, 0, 0.2);

// Font
$mainFont: 'Roboto', sans-serif;

// Size
$mainFontColor: #262626;
$mainFontWeight: normal;
$mainLineHeight: 1.4;

$desktopWidth: 1440px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
