//colors
$violet: #9B51E0;
$pureWhite: #FFFFFF;
$milkyWhite: #FAFAFA;
$smokyWhite: #F2F2F2;
$lightGray: #EBEBEB;
$gray: #E3E3E3;
$black: #262626;

// shadows
$outShadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
$insetShadow: inset 0px 0px 80px rgba(0, 0, 0, 0.2);

// Font
$mainFont: 'Roboto', sans-serif;

// Size
$mainFontColor: #262626;
$mainFontWeight: normal;
$mainLineHeight: 1.4;

$desktopWidth: 1440px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
