// colors
$white: #fefefe;
$red: #ff3851;
$redActive: #a31526;
$black: #171717;
$green: #23a051;
$greenActive: #0e7635;
$blue: #1266d4;
$blueActive: #104a9e;
$orange: #ff601e;
$orangeActive: #ad4213;
$grey: #b1b1b1;

// mixins
@mixin active($activeColor) {
  background: $activeColor;
  box-shadow: none;
  transition: all .2s linear;
}

// styles
.vue-button {
  position: relative;
  height: 7.5vw;
  max-height: 40px;
  min-width: 80px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
  }

  &:hover {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  }

  &:hover:after {
    height: 100%;
    opacity: 0;
  }

  &--danger {
    background: $red;

    &:active {
      @include active($redActive)
    }
  }

  &--success {
    background: $green;

    &:active {
      @include active($greenActive)
    }
  }

  &--primary {
    background: $blue;

    &:active {
      @include active($blueActive)
    }
  }

  &--warning {
    background-color: $orange;

    &:active {
      @include active($orangeActive)
    }
  }

  &--disabled {
    background: $grey;
    box-shadow: none;

    &:hover {
      box-shadow: none;

      &:after {
        height: 0;
      }
    }
  }
}
